<div id="work-a" class="text-center py-3">
    <div class="container">
        <h2 class="section-title">Nasa dela</h2>
        <div class="bottom-line"></div>
        <p class="lead">
            Neki primeri nasih ruku napravljenih
        </p>
        <div class="items">
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/image1.jpg" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category"><a href='https://www.facebook.com/KarikatureSarmagedon/ '
                                target="_blank" class="delete-underline">karikaturesarmagedon.com</a></p>
                        <h2 class="item-text-title">Sarmegedon Karikature</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/image2.jpg" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category"><a href='http://www.trolex.rs/' target="_blank"
                                class="delete-underline">peskarenjebrodovakovin.com</a></p>
                        <h2 class="item-text-title">Slavisa Papic</h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="item-image">
                    <img src="../../../assets/image3.jpg" alt="" />
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category"><a class="delete-underline" href="https://www.srbija.gov.rs/"
                                target="_blank">vladasrbije.rs</a></p>
                        <h2 class="item-text-title">Aleksandar Vucic</h2>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>