<div id="icon-boxes" class="p-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card bg-danger text-white text-center">
                    <div class="card-body">
                        <i class="fas fa-globe fa-3x"></i>
                        <h3>Pravljenje web sajtova</h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark text-white text-center">
                    <div class="card-body">
                        <i class="fas fa-business-time fa-3x"></i>
                        <h3>Google business page</h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-danger text-white text-center">
                    <div class="card-body">
                        <i class="fas fa-comments fa-3x"></i>
                        <h3>Social media marketing</h3>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
                    </div>
                </div>
            </div>
        </div>
    </div>