<section id="home-icons" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-signature fa-3x mb-2"></i>
                <!-- <fa name='signature'></fa> -->
                <h3>Rezervacija</h3>
                <p>Uz lagan dogovor, saslusamo vase zelje i zahteve te krecemo na posao!</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-cog fa-3x mb-2"></i>
                <!-- <fa name='cog'></fa> -->
                <h3>Pravljenje sajta</h3>
                <p>Ovde se magija dogadja, u najbrzem mogucem roku se (po dogovoru) uredjujemo sajt po zelji.</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-globe-europe fa-3x mb-2"></i>
                <!-- <fa name="fa-globe-europe"></fa> -->
                <h3>Postavka na internet</h3>
                <p>Uz nas ili vas domen i hosting postavljamo nase delo na videlo.</p>
            </div>
        </div>
    </div>
</section>