<footer id="main-footer">
    <div class="footer-content container">
        <p>Copyright &copy; 2019. All Rights Reserved</p>
        <div class="social">
            <a href="twitter.com" class="fab fa-twitter fa-2x"></a>
            <a href="facebook.com" class="fab fa-facebook fa-2x"></a>
            <a href="https://www.instagram.com/sajtzasekundu/" target="_blank" class="fab fa-instagram fa-2x"></a>
            <a href="likedlin.com" class="fab fa-linkedin fa-2x"></a>
        </div>
    </div>
</footer>