#main-footer {
  background: #333;
  color: #fff;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram:hover {
  color: #c13584;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #e1306c;
}
#main-footer .footer-content {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
}
#main-footer .footer-content .social .fab {
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}
