<nav class="navbar sticky-top  navbar-expand-sm navbar-dark bg-dark opacity07 opacity1">
    <div class="container">
        <a href="#home" class="navbar-brand logo"><img src="../../../assets/onlinelogomaker-111019-1815-5205.png" alt=""
                class="logoSlika"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link">Početna</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">O nama</a>
                </li>
                <li class="nav-item">
                    <a href="#services" class="nav-link">Usluge</a>
                </li>
                <li class="nav-item">
                    <a href="blog.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>