<div id="page-prices">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                <h1>Nase usluge</h1>
                <p>Ovo su nasi paketi koje mi Vama nudimo, naravno u slucaju da su neke stvari potrebne van paketa, tu
                    smo da
                    se dogovorimo oko svega.</p>
            </div>
        </div>
    </div>
</div>
<div id="services" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 zoom">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Starter paket</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">RSD 29.900</h4>
                        <p class="card-text">Paket za pravljenje obicnog i jednostavnog sajta.</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Sajt sa do 3 stranice
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Sajt prilagodjen telefonu i tabletu
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Mogucnost biranja domena i hostinga
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-times red-text"></i><strong class="overline-text red-text"> Bez google
                                    business
                                    naloga</strong>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-times red-text"></i><strong class='overline-text red-text'> Bez
                                    tehnicke
                                    podrske</strong>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-times red-text"></i><strong class='overline-text red-text'>Bez social
                                    media
                                    marketinga</strong>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-danger btn-block mt-2">Kupi odmah</a>
                    </div>
                    <div class="card-footer text-muted">
                        Jednokratno placanje
                    </div>
                </div>
            </div>
            <div class="col-md-4 zoom">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Prosecan paket</h3>
                    </div>
                    <div class="card-body packet-special-color">
                        <h4 class="card-title">RSD 49.900 <em class='special-price'>RSD 59.900</em></h4>
                        <p class="card-text">Paket namenjen za manje kompanije koje zele da prosire svoje poslovanje.
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-check"></i>Sajt sa do 5 stranica.
                            </li>
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-check"></i> Sajt prilagodjen telefonu i tabletu
                            </li>
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-check"></i> Mogucnost biranja domena i hostinga
                            </li>
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-check"></i> Google business nalog
                            </li>
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-check"></i> Tehnicka podrska 6 meseci
                            </li>
                            <li class="list-group-item packet-special-color">
                                <i class="fas fa-times red-text"></i> <strong class='overline-text red-text'> Bez social
                                    media
                                    marketinga</strong>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-danger btn-block mt-2">Kupi odmah</a>
                    </div>
                    <div class="card-footer text-muted packet-special-color">
                        Jednokratno placanje
                    </div>
                </div>
            </div>
            <div class="col-md-4 zoom">
                <div class="card text-center">
                    <div class="card-header bg-dark text-white">
                        <h3>Premium paket</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">OD RSD 75.000 </h4>
                        <p class="card-text">Paket namenjen manjim i srednjim preduzecima sa vecim zahtevima.</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fas fa-check"></i>Sajt sa do 15 stranica
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Sajt prilagodjen telefonu i tabletu
                            </li>
                            <li class="list-group-item"><i class="fas fa-check"></i> Mogucnost biranja domena i hostinga

                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i> Google business nalog
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i>Tehnicka podrska 12 meseci
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-check"></i>Sredjivanje social media 12 meseci
                            </li>
                        </ul>
                        <a href="#" class="btn btn-danger btn-block mt-2">Kupi odmah</a>
                    </div>
                    <div class="card-footer text-muted">
                        Jednokratno placanje
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>