<section id="testimonials" class="p-4 bg-dark text-white">
    <div class="container">
        <h2 class="text-center">Srecni klijenti</h2>
        <div class="row text-center">
            <div class="col">
                <div class="slider">
                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                Prezadovoljan sam sajtom i preporucio bih ovu ekipu svakom.
                            </p>
                            <div class="blockquote-footer">Ilija Sarmes Iz
                                <cite title="Company 1">Karikature Sarmagedon</cite>
                            </div>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                Od kada sam napravio sajt, povecalo mi se broj klijenata.
                            </p>
                            <div class="blockquote-footer">Smrda Smrdic From
                                <cite title="Company 2">Groblje</cite>
                            </div>
                        </blockquote>
                    </div>
                    <div>
                        <blockquote class="blockquote">
                            <p class="mb-0">
                                Ispljuvali me kao goveda, al nisam ostao duzan. Opleo sam i ja po jeziku.
                            </p>
                            <div class="blockquote-footer">Aleksandar Vucic Iz
                                <cite title="Company 3">Vlada republike Srbije</cite>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>